In [1]:
!python --version

Python 3.8.10

In [ ]:
Problem Statement:
    House Price Prediction

In [3]:
# Data Gathering
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
boston_df = pd.DataFrame(boston.data, columns = boston.feature_names)
boston_df['PRICE'] = boston.target
boston_df.head(2)

ImportError:
`load_boston` has been removed from scikit-learn since version 1.2.

The Boston housing prices dataset has an ethical problem: as
investigated in [1], the authors of this dataset engineered a
non-invertible variable "B" assuming that racial self-segregation had a
positive impact on house prices [2]. Furthermore the goal of the
research that led to the creation of this dataset was to study the
impact of air quality but it did not give adequate demonstration of the
validity of this assumption.

The scikit-learn maintainers therefore strongly discourage the use of
this dataset unless the purpose of the code is to study and educate
about ethical issues in data science and machine learning.

In this special case, you can fetch the dataset from the original
source::

    import pandas as pd
    import numpy as np

    data_url = "http://lib.stat.cmu.edu/datasets/boston"
    raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
    data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
    target = raw_df.values[1::2, 2]

Alternative datasets include the California housing dataset and the
Ames housing dataset. You can load the datasets as follows::

    from sklearn.datasets import fetch_california_housing
    housing = fetch_california_housing()

for the California housing dataset and::

    from sklearn.datasets import fetch_openml
    housing = fetch_openml(name="house_prices", as_frame=True)

for the Ames housing dataset.

[1] M Carlisle.
"Racist data destruction?"
<https://medium.com/@docintangible/racist-data-destruction-113e3eff54a8>

[2] Harrison Jr, David, and Daniel L. Rubinfeld.
"Hedonic housing prices and the demand for clean air."
Journal of environmental economics and management 5.1 (1978): 81-102.
<https://www.researchgate.net/publication/4974606_Hedonic_housing_prices_and_the_demand_for_clean_air>

In [7]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing_df = pd.DataFrame(housing.data, columns = housing.feature_names)
housing_df['PRICE'] = housing.target
housing_df.head(2)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,8.3252,41.0,6.984127,1.02381,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.97188,2401.0,2.109842,37.86,-122.22,3.585

In [ ]:
# Step 3: EDA

In [8]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   PRICE       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [9]:
housing_df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [ ]:
### Step 4: Feature Engineering.

In [ ]:
### Step 5: Feature Seclection

In [ ]:
### Step 6: Model Training

In [10]:
x = housing_df.drop('PRICE', axis=1)
y = housing_df['PRICE']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [12]:
### Split the data 

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25, random_state=5)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((15480, 8), (5160, 8), (15480,), (5160,))

In [13]:
### Model Training
    
lin_model = LinearRegression()
lin_model.fit(x_train,y_train)    ### BFS >> GDA

LinearRegression()

In [18]:
### Step 7: Model Evaluation

### Testing Data

y_pred  = lin_model.predict(x_test)
print(f"Testing Data Metrics")

mse = mean_squared_error(y_test, y_pred) # differcence between Actual Data and Predicted Data
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_test, y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_test, y_pred)
print(f"R-Sequared Value = {r2}")

Testing Data Metrics
MSE = 0.5339441777835978
RMSE = 0.7307148402650638
MAE = 0.5362944184189581
R-Sequared Value = 0.6099559129835475

In [19]:
### Training Data

y_pred_train = lin_model.predict(x_train)
print(f"Training Data Metric")

mse = mean_squared_error(y_train, y_pred_train) # differcence between Actual Data and Predicted Data
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_train, y_pred_train)
print(f"MAE = {mae}")

r2 = r2_score(y_train, y_pred_train)
print(f"R-Sequared Value = {r2}")

Training Data Metric
MSE = 0.5212582283407476
RMSE = 0.7219821523699513
MAE = 0.528033357944629
R-Sequared Value = 0.6048126607183687

In [22]:
x_train.head(1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
1076,3.1125,11.0,5.705696,1.071994,3264.0,2.582278,39.75,-121.8

In [23]:
x_test.head(1)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
14772,2.7361,14.0,4.206612,0.983471,1224.0,3.371901,32.57,-117.07

In [26]:
y_train.head()

1076     1.226
14562    2.004
13462    1.129
18773    0.630
14800    1.531
Name: PRICE, dtype: float64

In [27]:
y_test.head()

14772    0.936
10105    1.536
20094    1.325
19261    1.479
14139    1.207
Name: PRICE, dtype: float64

In [ ]:
### USER TEST FUNCTION

In [28]:
x_train.head(1).T

                   1076
MedInc         3.112500
HouseAge      11.000000
AveRooms       5.705696
AveBedrms      1.071994
Population  3264.000000
AveOccup       2.582278
Latitude      39.750000
Longitude   -121.800000

In [29]:
x.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')

In [34]:
MedInc = 7.5
HouseAge = 2.5
AveRooms = 20.705696
AveBedrms = 5.071994
Population = 9856.000000
AveOccup = 6.582278
Latitude = 45.750000
Longitude = -130.800000

array = np.array([MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude], ndmin=2)
print(array)

price = lin_model.predict(array)
price

[[ 7.5000000e+00  2.5000000e+00  2.0705696e+01  5.0719940e+00
   9.8560000e+03  6.5822780e+00  4.5750000e+01 -1.3080000e+02]]

C:\Users\geetesh\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4.98974337])

In [ ]:
### Step 8: API Building and API Testing